{% extends 'dashboard_base.html' %}

{% block heading %}
<p>Update {{facility.name}}</p>

{% endblock heading %}

{% block content %}

<form method="post">{% csrf_token %}

    <div class="flex flex-col justify-between">
        <p class="text-2xl tracking-wider leading-loose text-gray-800">Kind</p>
        <div>{{form.kind}}</div>
        <br>
    
        <div class="inline-flex items-center justify-start p-5 bg-white rounded-2xl" style="width: 520px; height: 56px;">
            <div class="inline-flex flex-col space-y-2 items-start justify-start py-1.5 rounded-2xl">
                <p class="text-xs font-semibold leading-snug text-gray-500" style="width: 477px;">Name</p>
                <p class="text-base tracking-wider leading-normal text-gray-900">{{form.name}}</p>
            </div>
        </div>
    <br>
        <div class="inline-flex items-start justify-start p-5 bg-white rounded-2xl" style="width: 517px; height: 118px;">
            <div class="inline-flex flex-col space-y-2 items-start justify-start rounded-2xl" style="width: 477px; height: 54px;">
                <p class="text-xs font-semibold leading-snug text-gray-500" style="width: 477px;">Address</p>
                <p class="text-base tracking-wider leading-normal text-gray-900" style="width: 477px;">{{form.address}}</p>
            </div>
        </div>
    
        <br>
    
    
        <div class="inline-flex flex-col space-y-96 items-end justify-end" style="width: 523px; height: 56px;">
            <div class="inline-flex items-center justify-start pl-6 pr-96 py-4 bg-white border-2 rounded-2xl border-gray-900" style="width: 523px; height: 57.02px;">
                <p class="text-base tracking-wider leading-normal text-gray-900">Ward</p>
            </div>
        </div>
        <br>
    
        <div class="flex">
            <div class="inline-flex items-center justify-start w-52 h-14 mr-6 pl-6 pr-32 bg-white rounded-2xl">
                <div class="inline-flex flex-col space-y-0.5 items-start justify-start py-1.5 rounded-2xl">
                    <p class="text-xs font-medium leading-snug text-gray-500">Pin code</p>
                    <div class="w-2/4 text-base tracking-wider leading-normal text-gray-900">{{form.pin_code}}</div> 
                </div>
            </div>
        
            <div class="inline-flex space-x-24 items-center justify-end w-72 h-14 pl-6 bg-gray-50 border-2 rounded-2xl border-gray-900">
                <div class="inline-flex flex-col items-start justify-start py-1.5 rounded-2xl">
                    <p class="text-xs font-medium leading-snug text-gray-500">Phone number</p>
                    <div class="text-base tracking-wider leading-normal text-gray-900">{{form.phone_number}}</div>
                </div>
    
            </div>
        </div>
        <br>
        <br>
    
    
          
        <div class="inline-flex items-center justify-center w-52 px-6 py-4 bg-gray-800 rounded-xl">
            <p class="text-base font-semibold tracking-wider leading-normal text-center text-gray-50">Update</p>
        </div>
        
    </div>
       
        
    </form>


{% endblock content %}