{% extends 'base.html' %}

{% block page %}
<!--- 
  <div class="flex-initial space-y-11 items-start justify-start text-center w-2/12  pl-8 pr-9 pt-6 pb-10 bg-white">
    <p
      class="text-2xl font-bold tracking-wider leading-loose text-gray-800"
    >
      Arike
    </p>
    <div class="w-full h-14 bg-gray-800 rounded-2xl">
      <p class="text-base tracking-wider leading-normal text-gray-100">
        Home
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-10/12 h-6">
        <p class="text-base tracking-wider leading-normal text-gray-800">
            Facility
        </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-24 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Patients
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-20 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Users
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-28 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Schedule
      </p>
    </div>

    <div class="inline-flex space-x-4 items-center justify-end w-1/3 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Profile
      </p>
    </div>

    <div class="w-56 h-0.5 border-gray-200" />
    <p class="text-lg tracking-wider leading-loose">Alex Doe</p>
    <div class="w-1/5 h-12 bg-gray-200 rounded-full" />
    <p class="text-base tracking-wider leading-normal text-blue-500">
      Log out
    </p>
  </div>
  <div class="flex-initial space-y-11 items-start justify-start text-center w-2/12  pl-8 pr-9 pt-6 pb-10 bg-white">
    <p
      class="text-2xl font-bold tracking-wider leading-loose text-gray-800"
    >
      Arike
    </p>
    <div class="w-full h-14 bg-gray-800 rounded-2xl">
      <p class="text-base tracking-wider leading-normal text-gray-100">
        Home
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-10/12 h-6">
        <p class="text-base tracking-wider leading-normal text-gray-800">
            Facility
        </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-24 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Patients
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-20 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Users
      </p>
    </div>

    <div class="inline-flex space-x-3.5 items-center justify-end w-28 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Schedule
      </p>
    </div>

    <div class="inline-flex space-x-4 items-center justify-end w-1/3 h-6">
      <p class="text-base tracking-wider leading-normal text-gray-800">
        Profile
      </p>
    </div>

    <div class="w-56 h-0.5 border-gray-200" />
    <p class="text-lg tracking-wider leading-loose">Alex Doe</p>
    <div class="w-1/5 h-12 bg-gray-200 rounded-full" />
    <p class="text-base tracking-wider leading-normal text-blue-500">
      Log out
    </p>
  </div>
-->

<div class="flex">
  <div class="w-2/12 bg-white">

  </div>
  <div class="w-10/12 pl-32 pr-32 pt-16 pb-16">
    <div class="flex justify-between text-5xl font-bold mb-8">
      {% block heading %}
      {% endblock heading %}
    </div>
    
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>

{% endblock page %}





