
      <p class="text-base tracking-wider leading-normal text-gray-100">Home</p>
      <div class="inline-flex space-x-3.5 items-center justify-end w-24 h-6">
          <div class="w-1/5 h-3/4 border rounded-full border-black"/>
          <p class="text-base tracking-wider leading-normal text-gray-800">Facility</p>
      </div>
      <div class="inline-flex space-x-3.5 items-center justify-end w-24 h-6">
          <div class="w-4 h-3/4 border rounded-full border-black"/>
          <p class="text-base tracking-wider leading-normal text-gray-800">Patients</p>
      </div>
      <div class="inline-flex space-x-3.5 items-center justify-end w-20 h-6">
          <div class="w-4 h-3/4 border rounded-full border-black"/>
          <p class="text-base tracking-wider leading-normal text-gray-800">Users</p>
      </div>
      <div class="inline-flex space-x-3.5 items-center justify-end w-28 h-6">
          <div class="w-1/6 h-3/4 border rounded-full border-black"/>
          <p class="text-base tracking-wider leading-normal text-gray-800">Schedule</p>
      </div>
      <div class="inline-flex space-x-4 items-center justify-end w-1/3 h-6">
          <div class="w-4 h-3/4 border rounded-full border-black"/>
          <p class="text-base tracking-wider leading-normal text-gray-800">Profile</p>
      </div>